<header>
  <h2>What is an API wrapper</h2>
</header>
<p>API wrappers can simplify the process of interacting with APIs. An API wrapper provides a way to access an API through a particular programming language or interface, which can help streamline the process of making API calls.</p>
<p><a href="https://guides.lib.utexas.edu/c.php?g=897091&p=6453521">Source</a></p>