<header>
  <h2>Call API in the Controller</h2>
</header>
<p>Create folder controller/api</p>
<p>Create file api/create_roles_controller.rb></p>
<%= image_tag("create_roles.PNG") %>
<p>Add routes</p>
<%= image_tag("routes.PNG") %>
<p>View API json</p>
<p>run <code>rails s</code> then in the browser type: http://localhost:3000/api/creator-roles</p>
