<header>
  <h2>Setting up a Rails Environment</h2>
</header>
<p>If you have Ruby and Rails installed, you can create a Rails application, let's create one called api-wrapper.</p>
<p>Run this command:</p>
<code>C:\Users\Your Name> rails new Appname</code>
<p>The rails new command will set up everything you need to run a Rails application.</p>
<p>Add <code>gem 'rest-client'</code> to the Gemfile then run the following command. <a href="https://github.com/rest-client/rest-client">Documentation</a></p>
<code>C:\Users\Your Name\AppName> bundle install</code>
<h4>Api folder structure</h4>
<ul>
  <li>Create folder app/api</li>
  <li> (name of Api) folder in the api folder</li>
  <li>client.rb inside (name of API) folder></li>
  <%= image_tag("client.PNG") %>
  <li>request.rb inside (name of API) folder</li>
  <%= image_tag("request.PNG") %>
  <li>errors.rb inside (name of API) folder</li>
  <%= image_tag("errors.PNG") %>
</ul>